@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antonio:wght@100..700&family=Imperial+Script&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@font-face {
    font-family: 'FunnelDisplay';
    src: url('/fonts/FunnelDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Tangerine';
    src: url('/fonts/Tangerine-Regular.ttf') format('truetype');
}

:root {
    --cool-black: #010101;
    --plain-gold: #D4AF37;
    --light-gold : #D4AF3740;
    ---dark-gray: #1c1c1c;
    --warm-white: #f6f1e7;
    --plain-gray : #373539;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--cool-black);
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

@layer utilities {

    .hero-container {
        @apply relative w-screen h-dvh overflow-hidden bg-(--plain-gray);
    }

    .hero-title {
        font-family: 'FunnelDisplay', monospace;
        @apply text-(--plain-gold) 2xl:text-[20rem] md:text-[16rem] text-[12rem] leading-[9vw] absolute top-20 left-1/2 -translate-x-1/2 z-10;
    }

    .hero-bottom {
        @apply absolute bottom-10 left-0 w-full text-(--plain-gold) flex md:flex-row flex-col justify-between items-center px-10 z-20;
    }

    .hero-sub-title {
        font-family: 'Tangerine', cursive;
        @apply 2xl:text-[8rem] md:text-[3rem] text-[2rem] z-20;
    }

    .hero-cta-div {
        @apply flex items-center gap-2 align-baseline cursor-pointer p-2 mr-12 hover:ring-1 hover:scale-105 rounded-md transition-all duration-300 ease-in-out;
    }

    .hero-cta {
        font-family: 'FunnelDisplay', monospace;
        @apply text-lg cursor-pointer;
    }

    /* About section */
    .about-container {
        @apply h-[400dvh] relative;
    }

    .scroll-section {
        @apply relative h-screen w-full bg-(--cool-black);
    }

    .center-stage {
        @apply absolute inset-0 flex flex-col items-center justify-center text-center pointer-events-none;
    }

    .static-title {
        font-family: 'FunnelDisplay', monospace;
        @apply text-[5em] tracking-wide text-[var(--plain-gold)];
    }

    .dynamic-text {
        @apply relative h-[5em] w-[20em] flex items-center justify-center;
    }

    .scroll-text {
        font-family: 'Tangerine', cursive;
        @apply text-[var(--warm-white)] mt-2 absolute text-[4em] leading-none whitespace-nowrap opacity-0;
    }

    /* SIDE IMAGES */
    .side-stage {
        @apply absolute top-1/2 transform -translate-y-1/2;
        @apply w-[28em] h-[40em];
    }
    .left-stage {
        @apply left-8;
    }

    .right-stage {
        @apply right-8;
    }

    .scroll-img {
        @apply absolute inset-0 h-full w-full object-cover opacity-0 rounded-xl;
    }

/* Featured Section */

    /* Philosophy section */

    .philosophy-container {
        @apply relative w-screen h-dvh bg-[var(--dark-gray)] overflow-hidden text-[var(--warm-white)];
    }

    .philosophy-bg {
        @apply sticky inset-0 h-dvh w-full;
    }

    .ph-text {
        font-family: 'FunnelDisplay', monospace;
        @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 justify-center w-[30em] h-[4em] flex gap-4 text-4xl leading-[9vw] items-center;
    }

    .ph-dynamic-text {
        @apply relative h-[4em] w-[6em] flex justify-start items-center;
    }

    .ph-scroll-text {
        @apply absolute leading-none whitespace-nowrap;
    }

}